/.dev
/.live
/.old
/database
/.sample_files

/stored/*
!/stored/index.html
!/stored/.htaccess

/thumbs/*
!/thumbs/index.html
!/thumbs/.htaccess

/tmp/*
!/tmp/index.html
!/tmp/.htaccess

words.txt
setup.php
vcs.code-workspace
php-cs-fixer-v2.phar
